{% extends 'admin/model/list.html' %}


{% block head %}
{{ super() }}
{{ lib.form_css() }}
{% endblock %}

{% block body %}

<form>
    <div class="row" style="padding-bottom:30px">
        <div class="col-lg-8">
            <div class="input-group">
                <span class="input-group-addon">
                    content:
                </span>
                <textarea class="form-control  .textarea"
                          placeholder="content" value="{{content}}" name="content">{{content}}</textarea>
            </div>
        </div>


        <div class="col-lg-2">
            算法：
            <select name="algorithm" id="algorithm" value={{algorithm}}>
                
                <option value="chinese2pingyin">中文转拼音</option>
                <option value="chinese2tradictional">简体转繁体</option>

                <option value="tradictional2chinese">繁体转简体</option>
            </select>
        </div>

        <div class="col-lg-2">
            <button type="submit" class="btn btn-default" onclick="submit()">请求</button>
        </div>
    </div>
</form>

<div class="panel panel-default">

    <div class="panel-body col-lg-10">
        <div class="panel-heading">结果</div>
        <div>

            <p>{{sentence}}</p>
        </div>
    </div>

</div>


<script type="text/javascript">   
 //获得下拉列表对象   
 rectypeOpt = document.getElementById("algorithm");
 rectypeOpt.value = '{{algorithm}}'
 
</script>


{% endblock %}

